body {
    background-color: #000000;
  font-family: "Montserrat", sans-serif;
}

h1 {
  color: white;
}

body {
    color:white;
}


a {
  color: white;
}

a:link {
  color: white;
}


a:visited {
  color: green;
}


a:hover {
  color: Aquamarine;
}


a:active {
  color: ForestGreen;
}

body {
    overflow: auto;
resize: both;
}

body { 
    cursor: pointer;
}

body {
    text-shadow: 8px 5px 3px #404040, 5px 5px 10px #000000;
}
